@model PlatUni.Models.Student

<h2>Detalles del Estudiante</h2>

<div>
    <h4>Nombre:</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Nombre:</dt>
        <dd class="col-sm-10">@Model.FirstName @Model.LastName</dd>
        <dt class="col-sm-2">Correo Electrónico:</dt>
        <dd class="col-sm-10">@Model.Email</dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.StudentId })    |   
    @Html.ActionLink("Inscribir Materias", "InscribirM", "Students", new { studentId = Model.StudentId }, null)  |
    @Html.ActionLink("Materias", "Materias", new { studentId = Model.StudentId })    |
    <a asp-action="Index">Volver al Listado</a>
</p>
